.card-body {

    background: rgba(0,0,0,0.80);
    border-color: black;
  
}

.card-header{

    background: rgba(0,0,0,0.70);
    border-color: black;
    height: 60px;
}

.header-title{

    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

#submit-text{

    float:right;
    font-weight: bold;
}


span.close-button {

    color: white;
}
