/* I must be able to make the header actually work,
and this might eventually turn into a sidebar on the left-hand side
as that orientation is better for mobile UI */
header{
    background-color: rgba(255, 128, 0, 0.80);
    width: 100%;
    height: 70px;
    color: rgb(20, 0, 200);
    top: 0px;
    left: 0px;
    position: fixed;
}


div.header-item{

    margin-left: 5px;
    margin-right: 5px;
}


.header-logo {
    font-size: 1.0rem;
}

.header-navigation{
    display: flex;
    align-items: center;
    margin-top: 5px;
    height: 100%;
    color: rgb(20, 0, 200);

}

.header-navigation ul {
    line-height:1.2;
    list-style-type: square;
    color: rgb(20, 0, 200);
    font-size:1.2rem;
}

#header-link{
    color: rgb(20, 0, 200);
    font-size: 1.5rem;


}

#header-title {
    font-size: 1.0em;
    font-weight: bold;

}


#header-link {
    font-size: 0.8em;
    color: rgb(255,255,255)

}
