.card-body {

    background: rgba(0,0,0,0.80);
    border-style:hidden;
    color: white;

  
}

.card-header{

    background: rgba(0,0,0,0.70);
    border-style: hidden;
    height: 100%;
}

.header-title{

    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.modal-body{
    background: rgba(0,0,0,0.80);
}

.modal-header{
    background: rgba(0,0,0,0.70);


}

.modal-title{

    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}



#button-text{

    float:right;
    font-weight: bold;
}

#project-card-header{
    background:rgb(0, 0, 80);
    height: 100%
}

#project-card-body{
    background: black
}

#project-card{

    border-style: hidden;
}

textarea{
    background: transparent;
    border-style: hidden;
    width: 100%;
    
}